@model DeliveryDeck_Backend_Final.Common.DTO.Backend.PagedRestaurantsDto
@{
    ViewData["Title"] = "Restaurants";
}

<link rel="stylesheet" href="~/css/restaurant.css"/>
<div class="restaurant-form">
    <form class="border border-1 py-3 px-5 bg-white" asp-controller="Restaurant" asp-action="CreateRestaurant" method="post">
        <div class="row">
            <h2 class="col display-4 text-black">Add restaurant</h2>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-close my-auto" onclick="closeRestaurantCreationForm()"></button>
            </div>
        </div>
        <div class="row">
            <label for="name" class="col">Name</label>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="text" id="name" name="Name" placeholder="Name..."/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <form asp-controller="Restaurant" asp-action="Index" method="get">
                <input type="text" class="me-2" placeholder="Search by name..." id="search_name" value="@(ViewBag.Name)" name="name"/>
                <button class="btn btn-primary me-2" type="submit">Go</button>
            </form>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-success" onclick="showRestaurantCreationForm()">+ Add restaurant</a>
        </div>
    </div>
    @{
        foreach(var restaurant in Model.Restaurants)
        {
            <div class="container card card-body my-2" id="@restaurant.Id">
                <div class="row">
                    <div class="col-10 d-flex" id="restaurantName">
                        <p class="fs-5 my-auto">@restaurant.Name</p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <form asp-controller="Restaurant" asp-action="Delete" asp-route-id="@restaurant.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger mx-2">D</button>
                        </form>
                        <form asp-controller="Restaurant" asp-action="Index" method="get">
                            <button type="submit" class="btn btn-outline-secondary mx-2">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</div>
<nav>
    <ul class="pagination justify-content-center" >
        <li class="page-item @(Model.PageInfo.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link btn" onclick="searchRestaurants(@(Model.PageInfo.CurrentPage > 1 ? Model.PageInfo.CurrentPage - 1 : 1))">&laquo;</a>
        </li>
        @{
            for(var i = 1; i < Model.PageInfo.Pages + 1; i++)
            {
                <li class="page-item @(i == Model.PageInfo.CurrentPage ? "active" : "")">
                    <form asp-controller="Restaurant" method="get">
                        <input type="number" name="page" value="@i" style="display: none"/>
                        <input type="text" name="name" value="@(ViewBag.Name)" style="display: none" />
                        <button class="page-link btn" type="submit">@i</button>
                    </form>
                </li>
            }
        }
        <li class="page-item @(Model.PageInfo.CurrentPage == Model.PageInfo.Pages ? "disabled" : "")">
            <a class="page-link btn" onclick="searchRestaurants(@(Model.PageInfo.CurrentPage < Model.PageInfo.Pages ? Model.PageInfo.CurrentPage + 1 : Model.PageInfo.CurrentPage))">&raquo;</a>
        </li>
    </ul>
</nav>
<script>
    showRestaurantCreationForm = () => {
        $(".restaurant-form").addClass("active-form");
        $(".restaurant-form #name").focus();
    }
    closeRestaurantCreationForm = () => $(".restaurant-form").removeClass("active-form");

    function todo_remove(page) {
        var url = '@Html.Raw(Url.Action("Index", "Restaurant", new {page = "__page__", name = "__name__"}))';

        url = url.replace("__name__", $("#search_name").val());
        url = url.replace("__page__", page);

        window.location.href = url.replace("__name__", $("#search_name").val());
    };

    function redirectToRestaurantDetails(id) {
        var url = '@Html.Raw(Url.Action("Index", "Restaurant", new {id = "__id__"}))';

        url = url.replace("__id__", id);

        window.location.href = url;
    }
</script>