@model PaginationModel
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PageInfo.CurrentPage == 1 ? "disabled" : "")">
            <form asp-controller="@Model.Controller" asp-route-page="@(Model.PageInfo.CurrentPage > 1 ? Model.PageInfo.CurrentPage - 1 : 1)" asp-route-name="@ViewBag.Name">
                <button type="submit" class="page-link btn">&laquo;</button>
            </form>
        </li>
        @{
            for (var i = 1; i < Model.PageInfo.Pages + 1; i++)
            {
                <li class="page-item @(i == Model.PageInfo.CurrentPage ? "active" : "")">
                    <form asp-controller="@Model.Controller" asp-route-page="@i" asp-route-name="@ViewBag.Name">
                        <button class="page-link btn" type="submit">@i</button>
                    </form>
                </li>
            }
        }
        <li class="page-item @(Model.PageInfo.CurrentPage == Model.PageInfo.Pages ? "disabled" : "")">
            <form asp-controller="@Model.Controller" asp-route-page="@(Model.PageInfo.CurrentPage < Model.PageInfo.Pages ? Model.PageInfo.CurrentPage + 1 : Model.PageInfo.CurrentPage)" asp-route-name="@ViewBag.Name">
                <button class="page-link btn" type="submit">&raquo;</button>
            </form>
        </li>
    </ul>
</nav>