@using DeliveryDeck_Backend_Final.Common.Enumerations;
@model UserCreateModal
<div class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display-5">Add new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form class="border border-1 py-3 px-5 bg-white" asp-controller="User" asp-action="@Model.Action" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col">
                            <label for="Name" class="col fs-5">Name</label>
                            <input class="w-75 ms-3" type="text" id="name" name="FullName" value="@Model.Name" disabled="@Model.NameIsReadonly"/>
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        <div class="col">
                            <label for="email" class="col fs-5">E-mail</label>
                            <input class="ms-3 w-75" type="email" id="email" name="Email" value="@Model.Email" disabled="@Model.EmailIsReadonly"/>
                        </div>
                    </div>

                    @{
                        if (Model.PasswordIsAccessible)
                        {
                            <div class="form-group row my-3">
                                <div class="col">
                                    <label for="password" class="col fs-5">Password</label>
                                    <input class="ms-3 w-75" type="password" id="password" name="Password">
                                </div>
                            </div>
                        }
                    }
                    
                    <div class="form-group row my-3">
                        <div class="col">
                            <label for="birthdate" class="col fs-5">Date of birth</label>
                            <input class="ms-3" type="date" id="birthdate" name="BirthDate" value="@Model.Birthdate" disabled="@Model.BirthdateIsReadonly"/>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <label class="fs-5">Sex</label>
                            <div class="form-check form-check-inline ms-3">
                                <input class="form-check-input" type="radio" name="Gender" value="@Gender.Male" id="genderRadioMale" checked="@(Model.Sex == Gender.Male)" disabled="@Model.SexIsReadonly"/>
                                <label class="form-check-label" for="genderRadioMale">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="Gender" value="@Gender.Female" id="genderRadioFemale" checked="@(Model.Sex == Gender.Female)" disabled="@Model.SexIsReadonly"/>
                                <label class="form-check-label" for="genderRadioFemale">Female</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        <div class="col">
                            <label class="col fs-5">Roles</label>
                            <div class="form-check form-check-inline ms-3">
                                <input class="form-check-input" type="checkbox" name="Roles" value="@RoleType.Customer" id="roleCustomerCheck" checked="@(Model.Roles.Contains(RoleType.Customer))" disabled="@Model.RolesIsReadonly"/>
                                <label class="form-check-label" for="roleCustomer">Customer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Roles" value="@RoleType.Courier" id="roleCourierCheck" checked="@(Model.Roles.Contains(RoleType.Courier))" disabled="@Model.RolesIsReadonly" />
                                <label class="form-check-label" for="roleCourier">Courier</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Roles" value="@RoleType.Cook" id="roleCookCheck" checked="@(Model.Roles.Contains(RoleType.Cook))" disabled="@Model.RolesIsReadonly" />
                                <label class="form-check-label" for="roleCook">Cook</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="Roles" value="@RoleType.Manager" id="roleManagerCheck" checked="@(Model.Roles.Contains(RoleType.Manager))" disabled="@Model.RolesIsReadonly" />
                                <label class="form-check-label" for="roleManager">Manager</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row my-3" id="addressField">
                        <div class="col">
                            <label for="Address" class="col fs-5">Address</label>
                            <input class="ms-3" type="text" id="Address" name="Address" value="@Model.Address" disabled="@Model.AddressIsReadonly"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row mt-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>